/* 
    --------------------
        Diff Expr Card
    --------------------
*/

.exomics-gene-toggle {
    cursor: pointer;
}

.exomics-gene-toggle::before {
    /* https://icons.getbootstrap.com/assets/icons/plus.svg */
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    align-self: center;
}

.exomics-gene-toggle[aria-expanded="true"]::before {
    /* https://icons.getbootstrap.com/assets/icons/dash.svg */
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");;
}


/* 
    ----------------
        Expr Card 
    ----------------
*/

.exomics-gene-expr {
    color: #808080;
}

.exomics-gene-expr-select {
    border: none;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: .8rem;
    line-height: inherit;
    background-color: transparent;
    outline: none;
    z-index: 1;
}

.exomics-gene-expr-select:hover {
    color: black;
}

.exomics-gene-expr-icon {
    align-self: center;
    cursor: pointer;
}

.exomics-gene-expr-icon:hover {
    color: green;
}


/* 
    ------------------------
        Placeholder image 
    ------------------------
*/

.exomics-gene-placeholder-img {
    font-size: 1rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .exomics-gene-placeholder-img-lg {
        font-size: 1.5rem;
    }
}