#cfomics-tutorial-main {
  scroll-behavior: smooth;
}

:not(#page-top):target::before {
  content: "";
  display: block;
  height: 4.5rem;
  margin: -4.5rem 0 0;
}

.cfomics-tutorial-aside {
  /*-ms-overflow-style: none;
  scrollbar-width: none;*/
  max-height: 450px;
}

div.cfomics-tutorial-aside::-webkit-scrollbar {
  width: 5px;
  height: 0px;
 }
 
/* Track */
div.cfomics-tutorial-aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray; 
  border-radius: 15px;
}

/* Handle */
div.cfomics-tutorial-aside::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
div.cfomics-tutorial-aside::-webkit-scrollbar-thumb:hover {
  background: #0d6efd; 
}


.cfomics-tutorial-aside {
  /* background-color: #f4f0ec; */
  /* use inline css for the following */
  /* background-image: url('../../images/expecto-banner.svg'); */
  margin-bottom: 1rem;
}

.cfomics-tutorial-aside h3 {
  padding-left: .75rem;
}

.cfomics-tutorial-aside, .cfomics-tutorial-content {
  width: 100%;
}

.cfomics-tutorial-aside a {
  text-decoration: none;
  color: inherit;
}

.cfomics-tutorial-aside nav {
  padding-left: 0.75rem;
}

.cfomics-tutorial-aside a:hover {
  color: #0d6efd;
}

.nav>a{
  border-radius: 0 !important;
}

div[id$='-collapse']{
  border:#E7F1FF;
  border-style:dotted;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 15px;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(0, 0, 0, 0.03);
}

/*.accordion-item {
    width: 80%;
}*/

/*
.accordion-header {
    height: 80px;
    padding: 0px;
}

.accordion-button {
    padding: 0px 0px;
}
*/
.accordion-button {
  padding: 0px 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: transparent;
  color: black;
  border-left-width: 3px;
  border-left-color: #0d6efd;
  border-style: solid;
}

.text-lg {
    font-size: 18px;
}

/* grid layout */
@media (min-width: 1200px) {
  #cfomics-tutorial-main {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
  }

  .cfomics-tutorial-aside {
    position: sticky;
    top: 4rem;
  }

  .cfomics-tutorial-content {
    top: 4rem;
  } 
}
